<launch>
    <node pkg="openimu_roscpp_package"
        type="openimu_attitude_publisher_node"
        name="openimu_attitude_publisher" output="screen" />

<!--    <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find openimu_roscpp_package)/rviz/demo.rviz"
        required="true" />
-->
</launch>
